PARASOL_SHOPIFY_CLIENT_ID=
PARASOL_SHOPIFY_CLIENT_SECRET=
PARASOL_SHOPIFY_OFFLINE_ACCESS_TOKEN=
YARDS_SHOPIFY_CLIENT_ID=
YARDS_SHOPIFY_CLIENT_SECRET=
YARDS_SHOPIFY_OFFLINE_ACCESS_TOKEN=
TSL_SHOPIFY_CLIENT_ID=
TSL_SHOPIFY_CLIENT_SECRET=
TSL_SHOPIFY_OFFLINE_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-04
